.custom-datepicker {
  width: 100px;         /* Increase width */
  height: 8px;         /* Increase height */
  font-size: 13px;      /* Bigger text */
  padding: 8px 0px 5px 30px;    /* Add some space inside */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.react-datepicker__triangle {
  display: none; /* Optional: remove the little triangle arrow */
}
